
{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="wrapper">

    <!-- Error messages in a loop with classes: error, success -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>Most recent questions</h1>
    <div class="cta_container">
        <a href="{{ url_for('show_new_question_form') }}" class="cta_home asknew" class="asknew">
            <img src="{{ url_for('static', filename='plus.svg') }}"><span>Ask a question</span>
        </a> 
        <a href="{{ url_for('show_question_list') }}" class="cta_home allquestions">
            <img src="{{ url_for('static', filename='table.svg') }}"><span>All questions</span>
        </a>
    </div>

    <table class="maintable">
        <tr class="header_row">
            <th class="number_cell">
                ID
            </th>
            <th>
                Question title
                <a href="{{ url_for('show_question_list', title='asc') }}"><span class="arrow">▲</span></a>
                <a href="{{ url_for('show_question_list', title='desc') }}"><span class="arrow">▼</span></a>
            </th>
            <th class="date_cell">
                Submission time
                <a href="{{ url_for('show_question_list', submission_time='asc') }}"><span class="arrow">▲</span></a>
                <a href="{{ url_for('show_question_list', submission_time='desc') }}"><span class="arrow">▼</span></a>
            </th>
            <th class="number_cell">
                Views
                <a href="{{ url_for('show_question_list', view_number='asc') }}"><span class="arrow">▲</span></a>
                <a href="{{ url_for('show_question_list', view_number='desc') }}"><span class="arrow">▼</span></a>
            </th>
            <th class="number_cell">
                Votes
                <a href="{{ url_for('show_question_list', vote_number='asc') }}"><span class="arrow">▲</span></a>
                <a href="{{ url_for('show_question_list', vote_number='desc') }}"><span class="arrow">▼</span></a>
            </th>
            <th class="number_cell">
                Answers
                <a href="{{ url_for('show_question_list', answer_count='asc') }}"><span class="arrow">▲</span></a>
                <a href="{{ url_for('show_question_list', answer_count='desc') }}"><span class="arrow">▼</span></a>
            </th>
        </tr>
        {% for line in questions %}
            <tr>
                <td><span class="linked_cell number_cell"> {{ line[0] }}</span></td>
                <td>
                    <a href="{{ url_for('show_question_page', question_id=line[0], view='counted') }}">
                        <span class="linked_cell">                     
                            {{ line[1] }}
                        </span>
                    </a>
                </td>
                <td><span class="linked_cell date_cell"> {{ line[2] }}</span></td>
                <td><span class="linked_cell number_cell"> {{ line[3] }}</span></td>
                <td><span class="linked_cell number_cell"> {{ line[4] }}</span></td>
                <td><span class="linked_cell number_cell"> {{ line[5] }}</span>                                                                                                                                 </td>
            </tr>
        {% endfor %}
    </table>

    <div class="fixedadd">
        <a href="{{ url_for('show_new_question_form') }}" class="fixed_button" class="asknew"><img src="{{ url_for('static', filename='plus.svg') }}" class="midimg"></a> 
    </div>

</div>
{% endblock %}
