
<!doctype html>
<html>
    <head> 
        <title>AskMate - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon.png')}}">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar_wrapper">
                <a href="{{ url_for('show_index') }}">
                    <img src="{{ url_for('static', filename='logos/askmate_logo2.png') }}">
                </a>
                <ul>
                    <li><a href="{{ url_for('show_index') }}">Home</a></li>
                    <li><a href="{{ url_for('show_question_list') }}">Questions</a></li>
                    <!--<li><a href="{{ url_for('show_question_list', vote_number='desc') }}">Trending</a></li>
                    <li><a href="{{ url_for('show_contact') }}">Contact</a></li>
                    <li><a href="https://prezi.com/p/efegz5dw-wft/">About us</a></li>-->
                    <li><a href="{{ url_for('show_tag_page') }}">Tags</a></li>
                    {% if session.user_name %}
                    <li><img class="profile_picture_navbar" src="{{ url_for('static', filename='ph_pic.png') }}"><span class="navbar_span">{{ session.user_name }}</span></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('registration') }}">Registration</a></li>
                    {% endif %}
                </ul>
                <div class="searchbar">
                    <form action="{{ url_for('show_search_results') }}">
                        <div>
                            <input type="text" name="q" id="search" class="inputfield" placeholder="Search">
                            <input type="image" src="{{ url_for('static', filename='magnifier.svg')}}" name="submit" id="search-submit" class="searchbutton">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% block content %}{% endblock %}
    <div class="rushbit_logo_container">
        <p class="credits"> All rights reserved.</p>
        <a href="{{ url_for('show_index') }}" >
            <img src="/static/logos/rushbit.png" class="rushbit_logo">
        </a>
    </div>
    </body>
</html>
