
<!doctype html>
<html>

    <head> 
        <title>AskMate - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon.png')}}">
    </head>

    <body>
        <div class="navbar">
            <div class="navbar_wrapper">
                <div class="nav_left">
                    <div class="logo_wrapper">
                    <a href="{{ url_for('show_index') }}">
                        <img src="{{ url_for('static', filename='logos/askmate_logo2.png') }}">
                    </a>
                    </div>
                    <div class="navlinks">
                        <a href="{{ url_for('show_index') }}">Home</a>
                        <a href="{{ url_for('show_question_list') }}">Questions</a>
                        <a href="{{ url_for('show_user_list') }}">Users</a>
                        <a href="{{ url_for('show_tag_page') }}">Tags</a>
                    </div>
                </div>
                <div class="nav_right">
                <div class="searchbar">
                    <form action="{{ url_for('show_search_results') }}">
                        <div>
                            <input type="text" name="q" id="search" class="inputfield" placeholder="Search">
                            <input type="image" src="{{ url_for('static', filename='magnifier.svg')}}" name="submit" id="search-submit" class="searchbutton">
                        </div>
                    </form>
                </div>

                {% if session.user_name %}
                <div class="dropdown">
                    <div class="dropbtn">
                        <img id="profile_picture_navbar" src="{{ url_for('static', filename='ph_pic.png') }}">
                        <span class="navbar_span">
                            <span>{{ session.user_name }}</span>
                            <div class="dropdown_content">
                                <a href="{{ url_for('show_user_page', user_id='profile', user_name=session.user_name) }}">Profile</a>
                                <a href="{{ url_for('logout') }}">Logout</a>
                            </div>
                        </span>
                    </div>
                </div>
                
                {% else %}
                    <div class="logdata">
                        <span class="signup"><a href="{{ url_for('registration') }}">Sign Up</a></span>
                        <span class="login"><a href="{{ url_for('login') }}">Login</a></span>
                    </div>

                {% endif %}
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}

        <div class="rushbit_logo_container">
            <p class="credits"> All rights reserved.</p>
            <a href="{{ url_for('show_index') }}" >
                <img src="/static/logos/rushbit.png" class="rushbit_logo">
            </a>
        </div>

    </body>

</html>
