
<!doctype html>
<html>
    <head> 
        <title>AskMate - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="askmate_logo">
            <a href="{{ url_for('show_question_list') }}">
                <img src="{{ url_for('logos'), filename='askmate_logo.png'}}">
            </a>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
