
{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <table>
        <tr>
            <th>
                ID number
            </th>
            <th>
                Question title
                <a href="{{ url_for('show_question_list', title='asc') }}">asc</a>
                <a href="{{ url_for('show_question_list', title='desc') }}">desc</a>
            </th>
            <th>
                Submission time
                <a href="{{ url_for('show_question_list', time='asc') }}">asc</a>
                <a href="{{ url_for('show_question_list', time='desc') }}">desc</a>
            </th>
            <th>
                Views
                <a href="{{ url_for('show_question_list', views='asc') }}">asc</a>
                <a href="{{ url_for('show_question_list', views='desc') }}">desc</a>
            </th>
            <th>
                Votes
                <a href="{{ url_for('show_question_list', votes='asc') }}">asc</a>
                <a href="{{ url_for('show_question_list', votes='desc') }}">desc</a>
            </th>
            <th>
                Answers
                <a href="{{ url_for('show_question_list', answers='asc') }}">asc</a>
                <a href="{{ url_for('show_question_list', answers='desc') }}">desc</a>
            </th>
        </tr>
        {% for line in questions %}
            <tr>
                <td>{{ line[0] }}</td>
                <td>
                    <a href="{{ url_for('show_question_page', question_id=line[0]) }}">{{ line[4] }}</a>
                </td>
                <td>{{ line[1] }}</td>
                <td>{{ line[2] }}</td>
                <td>{{ line[3] }}</td>
                <td>{{ line[7] }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('show_new_question_form') }}">Ask a question</a> 
{% endblock %}
