
{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="wrapper">
    {% if question_id %}
    <h1>Edit question <span class="question_id_in_head">#{{ question_id }}</span></h1>

    <form action="{{ url_for('edit_question', question_id=question_id) }}" method="POST" enctype='multipart/form-data'>
        <p>
            <h3><label for="q_title">Question title</label><br></h3>
            <input type="text" name="q_title" id="q_title" class="inputfield" value="{{ selected_question[0] }}" minlength="10" required>
        </p>
        <p>
            <h3><label for="q_desc">Description</label><br></h3>
            <textarea name="q_desc" minlength="10" id="q_desc" rows="5">{{ selected_question[1] }}</textarea>
        </p>
        <p>
            <h3><label for="q_image">Upload image</label><br></h3>
            <input type="file" name="q_image" id="q_image">
        </p>
        <p>
            <input type="submit" value="Submit" name="submit" id="submit" class="cta_home">
            <a href="{{ url_for('show_question_page', question_id=question_id) }}" class="cta_home red_button">Cancel</a>
        </p>

        {% if selected_question[2] %}
        <img class="attachment" src="{{ url_for('static', filename='uploads/' + selected_question[2]) }}" alt="Uploaded image">
        <p>Currently uploaded image: {{ selected_question[2] }}</p>
        <a href="{{ url_for('delete_image', question_id=question_id) }}" class="delete_button">Delete image</a>
        {% endif %}
    </form>

    {% else %}
    <h1>New question</h1>

    <form action="{{ url_for('ask_question') }}" method="POST" enctype='multipart/form-data'>
        <p>
            <h3><label for="q_title">Your question:</label><br></h3>
            <input type="text" name="q_title" class="inputfield" id="q_title" minlength="10" required>
        </p>
        <p>
            <h3><label for="q_desc">Description:</label><br></h3>
            <textarea name="q_desc" id="q_desc" minlength="10" required></textarea>
        </p>
        <p>
            <h3><label for="q_image">Image upload:</label><br></h3>
            <input type="file" name="q_image" id="q_image">
        </p>
        <p>
            <input type="submit" value="Submit" name="submit" class="cta_home" id="submit">
            <a href="{{ url_for('show_index') }}" class="cta_home red_button">Cancel</a>
        </p>
    </form>

    {% endif %}
</div>
{% endblock %}
