{% extends "layout.html" %}
{% block content %}
{% if id_number %}
<h1>Edit questions <span class="question_id_in_head">#{{ id_number }}</span></h1>
<form action="{{ url_for('edit_question') }}" method="POST">
    <input type="hidden" name="question_id" value="{{ question_needed[0] }}" required>
    <p>
        <label for="q_title">Your question is:</label><br>
        <input type="text" name="q_title" id="q_title" value="{{ question_needed[1] }}" required>
    </p>
    <p>
        <label for="q_desc">Describe your problem: </label><br>
        <textarea name="q_desc" id="q_desc"></textarea>
    </p>
    <p>
        <label for="q_image" >
        <input type="file" name="q_image" id="q_image">
    </p>

</form>

{% elif %}
<h1>New question</h1>
<form action="{{ url_for('ask_question') }}" method="POST">
    <p>
        <label for="q_title">Your question is:</label><br>
        <input type="text" name="q_title" id="q_title" required>
    </p>
    <p>
        <label for="q_desc">Describe your problem: </label><br>
        <textarea name="q_desc" id="q_desc" required></textarea>
    </p>
    <p>
        <label for="q_image" >
        <input type="file" name="q_image" id="q_image">
    </p>

</form>
{% endif %}
{% endblock %}