
{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

{% set question_id = question[0] %}

<script src="{{url_for('static', filename='script.js')}}"></script>

<div class="wrapper">
    
    <!-- Error messages in a loop with classes: error, success -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h1>{{ question[4] }}</h1>

    <p class="actionbuttons">
        {% if session.user_name == question[8] or session.role == 'admin' %}
            <a href="{{ url_for('show_edit_question_form', question_id=question_id) }}" class="cta">Edit question</a>
            <a href="{{ url_for('delete_question', question_id=question_id) }}" class="delete_button">Delete question</a>
            <a href="{{ url_for('manage_tags', question_id=question_id) }}" class="cta">Manage tags</a>
        {% endif %}
        <a href="{{ url_for('show_question_list') }}" class="cta">Back to Questions</a>
    </p>

    <table class="q_table">
        <tr>
            <td colspan="2">
                <span class="small_gray">Question: {{ question_id }} | Views: {{ question[2] }} | Submission: {{ question[1] }} | {% if question[8] %}Author: {{ question[8] }}{% else %}N/A{% endif %}</span>
            </td>
        </tr>
        <tr>
            <td class="vote_cell">
                <div class="voter">
                    <a href="{{ url_for('vote', direction='up', question_id=question_id) }}" class="voteup">
                        <img src="{{ url_for('static', filename='upvote.svg') }}">
                    </a>
                    <div><span class="votecounter">{{ question[3] }}</span></div>
                    <a href="{{ url_for('vote', direction='down', question_id=question_id) }}" class="votedown">
                        <img src="{{ url_for('static', filename='downvote.svg') }}">
                    </a>
                </div>
            </td>
            <td class="desc_cell">
                <p class="description">{{ question[5] }}</p>
                {% if added_tags %}
                <div class="tags">
                    {% for tag_id, tag_name in added_tags %}
                    <span>
                        {{ tag_name }}
                        {% if session.user_name == question[8] or session.role == 'admin' %}
                            <a href="{{ url_for('delete_tag', question_id=question_id, tag_id=tag_id) }}">×</a>
                        {% endif %}
                    </span>
                    {% endfor %}
                </div>
                {% else %}
                    <h5>No tags added.</h5>
                {% endif %}
            </td>
        </tr>
    </table>
    
    {% if question[6] %}
        <h3>Attachment</h3>
        <a href="{{ url_for('static',filename='uploads/' + question[6]) }}" target="_blank">
            <img src="{{ url_for('static',filename='uploads/' + question[6]) }}" alt="Question Image" class="attachment">
        </a>
    {% endif %}

    <h3>Question comments</h3>

    <div class = "q_comments">
        <button onclick="hideMe_q_submit()" class="cta marg comm">Comment question</button>
        <form action="{{ url_for('add_comment', question_id=question_id) }}" method="POST" enctype='multipart/form-data'>
            <div id="q_comment_submit">
                <textarea class="textarea" name="message"></textarea><br>
                <input type="submit" value="Submit comment" class="cta marg comm">
            </div>
        </form>
    </div>

    {% if q_comments %}        
        {% for comment in q_comments %}
            <div>
                <span class="small_gray_2">Submission time: {{ comment[4] }} | Number of times edited: {{ comment[5] }} | Author: {% if comment[6] %}{{ comment[6] }}{% else %}N/A{% endif %}</span>
                <p class="commentzone">{{ comment[3] }}</p>
                {% if session.user_name == comment[6] or session.role == 'admin' %}
                    <div class="small-gray">
                        <a href="{{ url_for('delete_comment', question_id=question_id, comment_id=comment[0]) }}" class="delete_mini">✖ Delete</a>
                        <span class="small_gray">
                            <!-- This is new, and works. -->
                            <button onclick="hideMe_q_edit('{{ 'q_c_edit' + loop.index|string }}')" class="delete_mini">Edit comment</button>
                            <form action="{{ url_for('edit_comment', question_id=question_id, comment_id=comment[0]) }}" method="POST">
                                <div class="q_comment_edit" id="{{ 'q_c_edit' + loop.index|string }}">
                                    <textarea class="textarea" name="message">{{ comment[3] }}</textarea><br>
                                    <input type="submit" value="Submit comment" class="cta marg comm">
                                </div>
                            </form>
                        </span>
                    </div>
                {% endif %}

            </div>
        {% endfor %}
    {% else %}
    <p>There are no comments for this question yet. Be the first to comment!</p>
    {% endif %}

    <hr>
    <h3>Answers</h3>
    <a href="{{ url_for('show_new_answer_form', question_id=question_id) }}" class="cta marg">Add answer</a>
    {% if answers %}

        {% for answer in answers %}

            <div class="small_gray_2">Submission: {{ answer[1] }} | Author: {% if answer[7] %}{{ answer[7] }}{% else %}N/A{% endif %}</div>

            <div class="answers">{% if answer[6] %}<img class="check_mark" src="{{ url_for('static', filename='checked.svg') }}">{% endif %}<span>{{ answer[4] }}</span></div>
            <div class="voter-mini">
                <span class="small_gray">Votes: {{ answer[2] }}</span>
                <a href="{{ url_for('vote', direction='up', answer_id=answer[0]) }}" class="voteup-mini">▲</a>
                <a href="{{ url_for('vote', direction='down', answer_id=answer[0]) }}" class="votedown-mini">▼</a>
            </div>

            <div class="small_gray">
                {% if session.user_name == question[8] or session.role == 'admin' %}
                    {% if answer[6] %}
                        <a href="{{ url_for('remove_accept_mark', answer_id=answer[0], question_id=question_id) }}" class="delete_mini">Not accepted</a>
                    {% else %}
                        <a href="{{ url_for('accept_answer', answer_id=answer[0], question_id=question_id) }}" class="delete_mini">Mark Accepted</a>
                    {% endif %}
                {% endif %}
                {% if session.user_name == answer[7] or session.role == 'admin' %}
                    <a href="{{ url_for('edit_answer', answer_id=answer[0]) }}" class="delete_mini">Edit answer</a>
                    <a href="{{ url_for('delete_answer', answer_id=answer[0]) }}" class="delete_mini">✖ Delete</a>
                {% endif %}
                <!-- This is new, and works. -->
                <span class="small_gray">
                    <button onclick="hideMe_a_submit('{{ 'a_c_edit' + loop.index|string }}')" class="delete_mini">Comment answer</button>
                    <form action="{{ url_for('add_comment', answer_id=answer[0], q_id=question_id, only='answer' ) }}" method="POST">
                        <div class="a_comment_submit" id="{{ 'a_c_edit' + loop.index|string }}">
                            <textarea class="textarea" name="message"></textarea><br>
                            <input type="submit" value="Submit comment" class="cta marg comm">
                        </div>
                    </form>
                </span>
            </div>

            {% if answer[5] %}
                <a href="{{ url_for('static',filename='uploads/' + answer[5]) }}" target="_blank">
                    <img src="{{ url_for('static',filename='uploads/' + answer[5]) }}" alt="Answer Image" class="attachment">
                </a>
            {% endif %}

            {% for comment in a_comments %}
                {% if comment[2] == answer[0] %}
                <div class="commentident">
                    <div class="small_gray_2">Submission Time: {{ comment[4] }} | Number of times edited: {{ comment[5] }} | Author: {% if comment[6] %}{{ comment[6] }}{% else %}N/A{% endif %}</div>
                    <p class="commentzone">{{ comment[3] }}</p>

                    {% if session.user_name == comment[6] or session.role == 'admin' %}
                        <div class="small-gray">
                            <a href="{{ url_for('delete_comment', question_id=question_id, comment_id=comment[0]) }}" class="delete_mini">✖ Delete</a>
                            <span class="small_gray">
                                <!-- This is new, and works. -->
                                <button onclick="hideMe_a_edit('{{ 'a_e_edit' + loop.index|string }}')" class="delete_mini">Edit comment</button>
                                <form action="{{ url_for('edit_comment', question_id=question_id, comment_id=comment[0] ) }}" method="POST">
                                    <div class="a_comment_edit" id="{{ 'a_e_edit' + loop.index|string }}">
                                        <textarea class="textarea" name="message">{{ comment[3] }}</textarea><br>
                                        <input type="submit" value="Submit comment" class="cta marg comm">
                                    </div>
                                </form>
                            </span>
                        </div>
                    {% endif %}

                </div>
                {% endif %}
            {% endfor %}

        {% endfor %}

    {% else %}
    <p>There are no answers yet. Do you have a solution?</p>
    {% endif %}

    <div class="fixedadd">
        <a href="{{ url_for('show_new_answer_form', question_id=question_id) }}" class="fixed_button_2"><img src="{{ url_for('static', filename='a.svg') }}" class="midimg"></a> 
    </div>
    <div class="fixedadd">
        <a href="{{ url_for('show_new_question_form') }}" class="fixed_button"><img src="{{ url_for('static', filename='plus.svg') }}" class="midimg"></a> 
    </div>

</div>
{% endblock %}
