
{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>Question: {{ question_id }}</h1>
    <h2>Title: {{ question[4] }}</h2>
    <form action="">
        <p>
            <input type="submit" value="Edit question" name="submit1" id="submit1" formaction="{{ url_for('show_edit_question_form', question_id=question_id) }}">
        </p>
        <p>
            <input type="submit" value="Delete question" name="submit2" id="submit2" formaction="{{ url_for('delete_question', question_id=question_id) }}">
        </p>
        <p>
            <input type="submit" value="Add answer" name="submit3" id="submit3" formaction="{{ url_for('show_new_answer_form', question_id=question_id) }}">
        </p>
    </form>
    <a href="{{ url_for('vote', direction='up', question_id=question_id) }}">UP!</a>
    <a href="{{ url_for('vote', direction='down', question_id=question_id) }}">DOWN!</a>
    <p> Views: {{ question[2] }} | Votes: {{ question[3] }} | Submission: {{ question[1] }}</p>
    <h2>Descripton</h2>
    <p>{{ question[5] }}</p>
    {% if question[6] %}
        <img src="{{ url_for('uploads', filename=question[6]) }}" alt="Image">
    {% else %}
        <p>PLACEHOLDER IMAGE</p>
        <p>No image uploaded</p>
    {% endif %}
    <h2> Answers</h2>

    {% for answer in answers %}
        <h3>ID: {{ answer[0] }}</h3>
        <a href="{{ url_for('vote', direction='up', answer_id=answer[0]) }}">UP!</a>
        <a href="{{ url_for('vote', direction='down', answer_id=answer[0]) }}">DOWN!</a>
        <p> Submission:{{ answer[1] }} | Votes: {{ answer[2] }}</p>
        <p>Message: {{ answer[4] }}</p>
        {% if answer[5] %}
            <img src="{{ url_for('uploads', filename=answer[5]) }}">
        {% else %}
            <p>!Placeholder image!</p><br>
        {% endif %}
    {% endfor %}
{% endblock %}