
{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="wrapper">

    <h1>Add tag to question - ID: {{ question_id }}</h1>

    {% if added_tags %}
    <h3>Added tags:</h3>
    <ul>
    {% for tag in added_tags %}
        <li>{{ tag }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    
    <form action="{{ url_for('show_add_tag', question_id=question_id) }}" method="POST">
        <select name="select_tag1" id="select_tag1">
            <option disabled selected value> -- select an option -- </option>
            {% for tag in existing_tags %}
            <option>{{ tag }}</option>
            {% endfor %}
        </select>
        <select name="select_tag2" id="select_tag2">
            <option disabled selected value> -- select an option -- </option>
            {% for tag in existing_tags %}
            <option>{{ tag }}</option>
            {% endfor %}
        </select>
        <select name="select_tag3" id="select_tag3">
            <option disabled selected value> -- select an option -- </option>
            {% for tag in existing_tags %}
            <option>{{ tag }}</option>
            {% endfor %}
        </select>

        <input name="new_tag1" id="new_tag1" placeholder="Enter new tag" maxlength="20" minlength="2">
        <input name="new_tag2" id="new_tag2" placeholder="Enter new tag" maxlength="20" minlength="2">
        <input name="new_tag3" id="new_tag3" placeholder="Enter new tag" maxlength="20" minlength="2">
        <input type="submit" value="Submit" class="cta">
    </form>

</div>
{% endblock %}
