{% extends "layout.html"  %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="wrapper searchresult">
    <h1>User page - {{user_name}}</h1>
    {% if question %}
    <table  class="maintable">
        {% for table in question %} 
            <tr> 
                <td>               
                    <a href="{{ url_for('show_question_page', question_id=table[0], view='counted') }}">
                        <span class="linked_cell">                     
                        {{ table[1] }}
                        </span>
                    </a> 
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if answer %}
    <table>
        {% for table in answer %}
        <tr>
            <td>{{ table[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    <br>
    {% if comment %}
    <table>
        {% for table in comment %}
        <tr>
            <td>{{ table[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}