{% extends "layout.html"  %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="wrapper searchresult">

    <h1>User page - {{user_name}}</h1>

    <!-- Error messages in a loop with classes: error, success -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if question %}
    <h2>Question</h2>
    <table  class="maintable">
        {% for table in question %} 
            <tr> 
                <td>               
                    <a href="{{ url_for('show_question_page', question_id=table[0], view='counted') }}">
                        <span class="linked_cell">                     
                        {{ table[1] }}
                        </span>
                    </a> 
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if answer %}
    <h2>Answer</h2>
    <table class="userp">
        {% for table in answer %}
        <tr>
            <td><p id="userp">{{ table[4] }}</p></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <br>

    {% if comment %}
    <h2>Comment</h2>
    <table class="userp">
        {% for table in comment %}
        <tr>
            <td><p id="userp">{{ table[2] }}</p></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if not question and not answer and not comment %}
    <p>There are no entries available for this user.</p>
    {% endif %}
    <p>
        <a href="{{ url_for('show_user_list') }}" id="spec_butt" class="cta_home">User list</a>
    </p>
</div>
{% endblock %}