{% extends "layout.html"  %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="wrapper searchresult">

    <h1>Profile - {{user_name}}</h1>

    <!-- Error messages in a loop with classes: error, success -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if question %}
        <h2>Questions</h2>
        {% for table in question %}
        <h3>> <a href="{{ url_for('show_question_page', question_id=table[0], view='counted') }}">{{ table[1] }}</a></h3>
        {% endfor %}
    {% endif %}

    {% if answer %}
        <h2>Answers</h2>
        {% for table in answer %}
            <span>
                <p class="small_gray">{{ table[4] }}</p>
                <a href="{{ url_for('show_question_page', question_id=table[0], view='counted') }}">See in Question #{{ table[0] }}</a>
            </span>
        {% endfor %}
    {% endif %}

    {% if comment %}
        <h2>Comments</h2>
        {% for table in comment %}
            <span>
                <p class="small_gray">{{ table[2] }}</p>
                {% if table[0] %}
                <a href="{{ url_for('show_question_page', question_id=table[0], view='counted') }}">See in Question #{{ table[0] }}</a>
                {% else %}
                <a href="#">N/A</a>
                {% endif %}
            </span>
        {% endfor %}
    {% endif %}

    {% if not question and not answer and not comment %}
        <p>There are no entries available for this user.</p>
    {% endif %}

    <div class="reg_on_login">
        <p>
            <a href="{{ url_for('show_user_list') }}" id="spec_butt" class="cta_home">User list</a>
        </p>
    </div>

</div>
{% endblock %}